/node_modules
/packages/desktop/node_modules
/packages/shared/node_modules
node_modules
packages/desktop/node_modules
packages/shared/node_modules
/packages/mobile/ios/Pods
package-lock.json
yarn.lock
/packages/mobile/android/.gradle
/packages/mobile/android/.idea
/packages/mobile/android/build
*DS_Store
/packages/mobile/android/app/.cxx
/packages/mobile/android/app/build
